[data-id="menu"] {
    --menu-items-gap: 10px;
}

[data-id="menu"]>ul>li>a {
    --theme-font-weight: 500;
    --theme-text-transform: capitalize;
    --theme-font-size: 15px;
    --theme-line-height: 1.3;
    --theme-link-initial-color: var(--theme-text-color);
}

[data-id="menu"] .sub-menu .ct-menu-link {
    --theme-link-initial-color: rgba(228, 238, 240, 0.7);
    --theme-link-hover-color: #ffffff;
    --theme-font-weight: 500;
    --theme-font-size: 12px;
}

[data-id="menu"] .sub-menu {
    --dropdown-divider: 1px dashed rgba(255, 255, 255, 0.1);
    --theme-box-shadow: 0px 10px 20px rgba(41, 51, 61, 0.1);
    --theme-border-radius: 10px;
}

[data-id="search-input"] {
    --max-width: 70%;
    --theme-form-field-height: 45px;
    --theme-form-field-border-radius: 25px;
    --margin: 0px 0px 0px 25px !important;
}

[data-id="search-input"] .ct-search-results {
    --theme-font-weight: 500;
    --theme-font-size: 14px;
    --theme-line-height: 1.4;
    --theme-link-initial-color: var(--theme-text-color);
    --search-dropdown-background: #ffffff;
    --items-divider: 1px dashed rgba(0, 0, 0, 0.05);
    --search-dropdown-box-shadow: 0px 50px 70px rgba(210, 213, 218, 0.4);
}

.ct-header-compare .ct-label {
    --theme-font-weight: 600;
    --theme-text-transform: uppercase;
    --theme-font-size: 12px;
}

[data-id="compare"] {
    --margin: 0px 0px 0px 25px !important;
}

[data-id="account"] {
    --margin: 0px 0px 0px 20px !important;
}

[data-id="account"] .ct-label {
    --theme-font-weight: 600;
    --theme-text-transform: uppercase;
    --theme-font-size: 12px;
}

[data-id="account"] .ct-header-account-dropdown {
    --dropdown-top-offset: 15px;
    --theme-font-size: 14px;
    --theme-text-color: rgba(228, 238, 240, 0.7);
    --theme-link-hover-color: #ffffff;
    --dropdown-background-color: var(--theme-palette-color-4);
    --dropdown-items-background-hover-color: rgba(0, 0, 0, 0.05);
    --theme-border: 1px solid #273b36;
    --theme-box-shadow: 0px 10px 20px rgba(41, 51, 61, 0.1);
    --theme-border-radius: 10px;
}

.ct-ajax-loader {
    position: absolute;
    inset: 0;
    z-index: 0;
    margin: auto;
    display: flex;
    border-radius: 100%;
    width: var(--loader-size, 20px);
    height: var(--loader-size, 20px);
    color: var(--loader-color, #c5cbd0)
}

.ct-ajax-loader[data-type=boxed] {
    padding: 8px;
    background: #fff;
    box-sizing: content-box;
    --loader-color: var(--theme-text-color)
}

[class*=animated-submenu][data-submenu] {
    position: relative
}

[class*=animated-submenu]>.sub-menu {
    position: var(--dropdown-position, absolute);
    top: 100%;
    z-index: 10;
    min-width: 100px;
    margin-top: var(--sticky-state-dropdown-top-offset, var(--dropdown-top-offset, 0));
    border-radius: var(--theme-border-radius);
    width: var(--dropdown-width, 200px);
    background-color: var(--dropdown-background-color, var(--theme-palette-color-4));
    box-shadow: var(--theme-box-shadow)
}

[class*=animated-submenu]>.sub-menu:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: var(--sticky-state-dropdown-top-offset, var(--dropdown-top-offset, 0));
    transform: translateY(-100%);
    transition: height .2s ease
}

.animated-submenu-block[data-submenu=right]>.sub-menu {
    left: var(--theme-submenu-inline-offset, 0)
}

.ct-toggle-dropdown-desktop {
    --theme-icon-size: 8px;
    --toggle-button-size: 24px;
    --toggle-button-margin-end: -8px;
    --toggle-button-margin-start: var(--dropdown-toggle-margin-start, 0.2em)
}

.ct-toggle-dropdown-desktop-ghost {
    pointer-events: none;
    inset-inline-end: var(--toggle-ghost-inset-end, calc(var(--menu-items-spacing, 25px) / 2 + 16px));
    --toggle-button-size: 24px;
    --toggle-button-margin-end: -24px
}

[class*=animated-submenu]>.sub-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .2s ease, visibility .2s ease, transform .2s ease, margin .2s ease, height .2s ease
}

[data-dropdown*=type-1] [class*=animated-submenu]>.sub-menu {
    transform: translate3d(0, 10px, 0)
}

.ct-search-form {
    position: relative;
    display: flex;
    isolation: isolate;
    --theme-link-initial-color: var(--theme-text-color)
}

.ct-search-form input {
    z-index: 2
}

.ct-search-form input::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.ct-search-form[data-taxonomy-filter=true] input,
.ct-search-form[data-form-controls=inside] input,
.ct-search-form[data-form-controls=inside] select {
    border-inline-end: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 0
}

.ct-search-form input:focus~.ct-search-form-controls select,
.ct-search-form input:focus~.ct-search-form-controls [data-button*=inside] {
    border-color: var(--theme-form-field-border-focus-color);
    background-color: var(--has-classic-forms, var(--theme-form-field-background-focus-color))
}

.ct-search-form .ct-search-form-controls {
    display: flex;
    z-index: 2
}

.ct-search-form .wp-element-button {
    white-space: nowrap;
    --theme-button-min-height: var(--search-button-size, var(--theme-form-field-height, 40px))
}

.ct-search-form .wp-element-button[data-button*=icon] {
    padding: initial;
    width: var(--search-button-size, var(--theme-form-field-height, 40px));
    --theme-icon-color: currentColor
}

.ct-search-form .ct-ajax-loader {
    opacity: 0;
    --loader-size: 18px
}


.ct-search-form[data-form-controls=inside] .wp-element-button {
    transform: none;
    box-shadow: none;
    border-radius: var(--has-classic-forms, var(--theme-form-field-border-radius, 3px));
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-width: var(--theme-form-field-border-width, 1px);
    border-style: var(--theme-form-field-border-style, solid);
    border-color: var(--theme-form-field-border-initial-color);
    --theme-icon-size: 13px;
    --theme-button-text-initial-color: var(--theme-text-color);
    --theme-button-text-hover-color: var(--theme-form-field-border-focus-color);
    --theme-button-background-initial-color: var(--has-classic-forms, var(--theme-form-field-background-initial-color));
    --theme-button-background-hover-color: var(--has-classic-forms, var(--theme-form-field-background-initial-color))
}

.ct-search-form[data-form-controls=inside]:not([data-taxonomy-filter=true]) [data-button*=icon] {
    border-inline-start: 0
}

.ct-search-form[data-form-controls=outside] .wp-element-button {
    margin-inline-start: 10px;
    border-radius: var(--theme-form-field-border-radius, 3px)
}

.ct-search-form select {
    font-size: 14px;
    width: var(--search-form-select-width, auto);
    border-start-start-radius: 0;
    border-end-start-radius: 0
}

.ct-search-form select:focus {
    --theme-form-field-border-focus-color: var(--theme-form-field-border-initial-color)
}


.ct-search-form.ct-has-dropdown {
    z-index: 2
}

.ct-search-box {
    width: 100%;
    max-width: var(--max-width, 250px)
}

[class*=ct-dynamic-count][data-count="0"] {
    display: none
}